body {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

dl > dd {
    margin-left: 1em;
}

button[accesskey] > em {
    font-style: normal;
    text-decoration: underline;
}

button[disabled] {
    color: darkgray;
}

label > input[type=text] {
    font-weight: normal;
}

.error {
    color: indianred;
}

.tab-content,
.form-actions {
    margin: 1em;
}
