body {
    font-family: sans-serif;
    margin-left: 2em;
    margin-right: 0;
}

h1 {
    font-family: "Georgia", "Times New Roman", serif;
    font-variant: small-caps;
    font-size: 250%;
    letter-spacing: 0.3em;
    border-bottom: 2px solid #89B2FF;
}

a {
    color: #7BA0E6;
}

a:active {
    color: inherit;
}

a:hover {
    text-decoration: none;
}

a > img {
    border-style: none;
}

dl > dt {
    padding-bottom: 0.25em;
}

dl > dd {
    padding: 0.25em 0 0.25em 0.5em;
    margin-left: 2em;
}

dl > dd + dt {
    margin-top: 0.25em;
}
