*[onclick] {
    cursor: pointer;
}

*[onclick]:hover {
    text-decoration: underline;
}

body {
    margin: 0;
    padding: 0;
}

body,
input,
select {
    font: Menu;
}

input[onclick] {
    cursor: inherit;
}

input[onclick]:hover {
    text-decoration: inherit;
}

object {
    /* Don't set display to none, otherwise the plug-in won't load. */
    position: absolute;
    
    width: 0;
    height: 0;
}
